/stix-bundles/*.json filter=lfs diff=lfs merge=lfs text
/GeoLite2/*.mmdb filter=lfs diff=lfs merge=lfs -text
/elasticsearch/*.gz filter=lfs diff=lfs merge=lfs -text
/elasticsearch/*.json filter=lfs diff=lfs merge=lfs text
